@page "/viewimages"

<div class="container-fluid">
    <div class="row">
        <TheDiveLog.Client.Pages.Partials.AllImages></TheDiveLog.Client.Pages.Partials.AllImages>
    </div>
    <div id="upload" class="row">
    </div>
</div>

@code {

}
