@page "/viewdivecharts"

@inject HttpClient client
@inject IJSRuntime js

@{
    string title = string.Empty;
}

@if (AppState.IsAuthenticated)
{
    <div class="row">
        <div class="col-11 mb-3 card mx-auto card-transparent">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#ndlgd">No Decompression Limits and Group Designation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#sic">Surface Interval Credit Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#abtsne">Repetitive Dive Timetable</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane container active float-left" id="ndlgd">
                    <TheDiveLog.Client.Pages.Partials.NDLChart></TheDiveLog.Client.Pages.Partials.NDLChart>
                </div>
                <div class="tab-pane container fade float-left" id="sic">
                    <TheDiveLog.Client.Pages.Partials.SICChart></TheDiveLog.Client.Pages.Partials.SICChart>
                </div>
                <div class="tab-pane container fade float-left" id="abtsne">
                    <TheDiveLog.Client.Pages.Partials.RDTChart></TheDiveLog.Client.Pages.Partials.RDTChart>
                </div>
            </div>
        </div>
    </div>
    <br />
}
else
{
    <h1>Authentication Failure!</h1>
    <p>You're not signed in.</p>
}

@code {
}
