@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="title">
            <div class="row">
                <div class="col-5 align-content-center">
                    <img src="css/Images/scuba_diver.png" asp-append-version="true" width="50" />
                    <a class="navbar-brand" href=""> <h5 class="text-primary"> The Dive Log</h5></a>
                </div>
                <div class="col-sm-5 text-center">
                    <a href="Identity/Account/Manage" class="long-email-address-css">@context.User.Identity.Name</a>
                </div>
                <div class="col-2">
                    <button class="navbar-toggler" @onclick="ToggleNavMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
