@page "/divelog/addeditdive/{Act:bool}/{Id:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

@if (AppState.IsAuthenticated)
{
    <h5>@butontext</h5>
    <DiveForm ButtonText=@butontext div="div" loc="loc" ddd="ddd" alllocs="alllocs" dg="dg" OnValidSubmit="@SaveDive" />
}
else
{
    <h1>Authentication Failure!</h1>
    <p>You're not signed in.</p>
}

@code {
    [Parameter] public bool Act { get; set; }
    [Parameter] public int Id { get; set; }

    string butontext = string.Empty;

    DiveFormData dfd = new DiveFormData();
    Dives div = new Dives();
    List<DiveDropdownData> ddd = new List<DiveDropdownData>();
    List<ViewLocation> loc = new List<ViewLocation>();
    List<Locations> alllocs = new List<Locations>();
    DiveGraphic dg = new DiveGraphic();

    protected async override Task OnParametersSetAsync()
    {
        try
        {
            if (Act)
            {
                dfd = await http.GetFromJsonAsync<DiveFormData>($"api/dive/byId?id={Id}");
                div = dfd.Dive;
                loc = dfd.Viewlocations;
                ddd = dfd.DDD;
                alllocs = dfd.AllLocs;
                butontext = "Update";
            }
            else
            {
                dfd = await http.GetFromJsonAsync<DiveFormData>($"api/dive/byId?id={Id}");
                div = new Dives();
                loc = dfd.Viewlocations;
                ddd = dfd.DDD;
                alllocs = dfd.AllLocs;
                butontext = "Add";
            }
        }
        catch (Exception ex)
        {
            string e = ex.InnerException.ToString();
        }
    }

    async Task SaveDive()
    {
        if (Act)
        {
            await http.PutAsJsonAsync("api/dive", div);
            await js.InvokeVoidAsync("alert", $"Updated Suicessfully!");
            uriHelper.NavigateTo("viewdives");

        }
        else
        {
            await http.PostAsJsonAsync("api/dive", div);
            uriHelper.NavigateTo("viewdives");
        }
    }
}
